<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>CopyInsert - 复制并处理</string>
            </dict>
            <key>NSMessage</key>
            <string>handleFiles</string>
            <key>NSRequiredContext</key>
            <dict>
                <key>NSApplicationIdentifier</key>
                <string>com.electron.copyinsert</string>
            </dict>
            <key>NSSendTypes</key>
            <array>
                <string>public.file-url</string>
            </array>
        </dict>
    </array>
</dict>
</plist> 